<html>
<head>
  <title>Share URLs</title>


  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  <script src="/javascripts/angularApp.js"></script>


</head>
<body ng-app="shareURL">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      <li></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Share URLs</h1>
    </div>


<form ng-submit="addPost()"
      style="margin-top:30px;" ng-show="isLoggedIn()">
      <h3>Share URL</h3>

    <!--  <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
      </div> -->
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Ex: http://www.example.com"
        ng-model="link"></input>
      </div>
      <button type="submit" class="btn btn-primary" style="float:right;" >Share</button>
    </form>


<div ng-hide="isLoggedIn()">
      
      <h3><a href="/#/login">Log In</a> to start using the app! <br/><br/>New User? <a href="/#/register">Register</a> here and start sharing</h3>
      
    </div>

<div ng-show="isLoggedIn()" >
<h3 style="margin-top:100px;">URLs shared by others</h3>
    <div ng-repeat="post in posts | orderBy:'-upvotes'">
     
      <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">
        <p><span style="color:black;"> URL:</span> {{post.link}}</p>
        </a>
       <!-- <span >
          {{post.link}}
        </span>-->
      </span>
    <!--  <span ng-show="post.author">
        posted by {{post.author}} |
      </span>
      <span>
        <a href="#/posts/{{post._id}}">Comments</a>
      </span>-->
    </div>
</div>
    
    
  </script>

  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    
    </form>

    
  </script>

  <script type="text/ng-template" id="/login.html">
  
    <div class="page-header">
      <h1>Share URLs</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
      style="margin-top:30px;">
      <h3>Log In</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
      
    </form>
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Share URLs</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>
   

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>
</body>
</html>
